h1 {
  display: inline;
}

header {
  display: inline;
  /* height: 100vh;
    width: 100%; */
}

img {
  display: inline;
  max-width: 200px;
  max-height: 150px;
  width: auto;
  height: auto;
}

#nome-cabecalho {
  display: inline;
  font-family: fantasy;
  font-style: italic;
  text-align: center;
  color: brown;
  background-position: center;
}

/* body {
    background-color: thistle;
} */

.rodape {
  margin-bottom: 2px;
  color: brown;
  font-family: cursive;
  display: block;
}

#boas-vindas {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
}

button {
  font-family: cursive;
  font-style: oblique;
  font-weight: bolder;
}

p {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

li {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
}

h2 {
    font-family: sans-serif;
}

body {
    background-color:lightcyan;
}

table {
    border-color: black; 
    background: #fffff0;
    margin: 50px 50px 50px 50px;
    padding: 50px 50px 50px;
}

.tabela {
    border-color: black; 
    background: #fffff0;
    margin: 50px 50px 50px 50px;
    padding: 100px;
}

th {
    border-color: black; 
    background: #fffff0;
    padding-top: 10px;
    
}