* {
    margin: 0;
    padding: 0;
}


#container {
    display: flex;
    flex-direction: column;
    background-color: rgb(19, 16, 16);
}

nav {
    background-color: rgb(146, 145, 144);
    width: 130px;
    height: 230px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    padding: 5px;
    margin-left: 150px;
    margin-top: 0;
    position: fixed;
    
}

li {
    text-decoration: none;
    list-style-type: none;
    padding: 12px;
    color: tomato;
}

main {
    display: flex;
    flex-direction: row;
    margin-left: 380px;
    align-items: center;
    height: 100vh;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

h3 {
    margin-top: 30px;
    color: wheat;
    font-size: 40px;
}

h5 {
    color: wheat;
    font-size: 20px;
    margin-bottom: 50px;
}

.lista {
    padding: 8px;
    color: tomato;
}