* {
    margin: 0;
    padding: 0;
}


#container {
    display: flex;
    flex-direction: column;
    background-color: rgb(212, 203, 203);
}

nav {
    background-color: rgb(15, 15, 14);
    width: 130px;
    height: 230px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    padding: 5px;
    margin-left: 150px;
    margin-top: 0;
    position: fixed;
    
}

li {
    text-decoration: none;
    list-style-type: none;
    padding: 12px;
    color: rgb(219, 172, 163);
}

main {
    display: flex;
    flex-direction: column;
    margin-left: 200px;
    /* border: 2px solid white; */
    align-items: center;
    height: 100vh;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

main img {
    width: 150px;
    height: 200px;
    justify-self: flex-end;
    margin-top: 100px;
    margin-left: auto;
    border: 2px solid rgb(22, 19, 19);
    
}
