* {
    margin: 0;
    padding: 0;
}


header {
    height: 10vh;
    width: 100vw;
    background-color: orange;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Chalkduster, fantasy;
}

header h2 {
    margin-left: 2vw;
    font-size: 4vw;
}

header form {
    margin-right: 5vw;
}

header input {
    align-self: center;
    padding: 0.5vw;
    background-color: rgb(253, 245, 230);
}

main {
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    row-gap: 1em;
    margin: 1em 0;
}

div img {
    width: 100%;
    height: 100%;
}

main div:hover {
    background-color: brown; 
    transition: all 0.5s ease-in;
}

div p {
    margin-top: 1em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: cornsilk;
}

main div {
    display: flex;
    flex-direction: column;
    height: 35vh;
    align-items: center;
    justify-items: flex-end;
    padding: 1em;
    background-color: rgb(2, 2, 2);
    box-shadow: inset 0 0 1em gold, 0 0 1em red;
}

footer {
    width: 100vw;
    text-align: center;
    background-color: rgb(255, 218, 151);
}

@media screen and (min-device-width: 320px) and (max-device-width: 480px) {
    main {
        width: 100vw;
        display: flex;
        flex-direction: column;
        row-gap: 0.5vw;   
    }

    main div {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (min-device-width: 481px) and (max-device-width: 800px) {
    main div {
        display: flex;
        flex-direction: column;
        height: 15vh;
    }
}