* {
    margin: 0;
    padding: 0;
}

#container {
    display: grid;
    grid-template-rows: 60px 1fr 30px;
    height: 100vh;
    width: 100vw;
}

header {
    height: 60px;
    background-color: orange;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Chalkduster, fantasy;
    font-size: 30px;
}

button {
    margin-right: 30px;
}

#buscar {
    display: flex;
    align-items: center;
}

header h2 {
    margin-left: 20px;
}

header div {
    margin-right: 40px;
}

header button {
    padding: 5px;
    background-color: rgb(240, 201, 128);
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to bottom, rgb(255, 236, 183), rgb(128, 73, 0));
    
}


main div:hover {
    background-color: brown; 
    transition: all 0.5s ease-in;
}

div h3 {
    margin: 5px 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: cornsilk;
        
}

main div {
    max-width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8px;
    background-color: rgb(2, 2, 2);
    box-shadow: inset 0 0 1em gold, 0 0 1em red;
}


footer {
    display: flex;
    height: 30px;
    background-color: rgb(255, 218, 151);
    justify-content: center;
    align-items: center;
}


footer h3 {
    color: black;
}
